language: ruby
rvm:
- 2.3.3

before_script:
 - chmod +x cibuild # or do this locally and commit

# Assume bundler is being used, therefore
# the ` install` step will run `bundle install` by default.
script: ./cibuild

# branch whitelist, only for GitHub Pages
branches:
  only:
  - master
  - dev

env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false # route your build to the container-based infrastructure for a faster build