---
layout: default
---

<h1>All posts</h1>

{% for post in paginator.posts %}
<h2>
<a class="site-post" href="{{ post.url }}">{{ post.title }}</a>
</h2>
<small>Written by {{ post.author }} on {{ post.date | date_to_string }}</small>
<p>{{ post.excerpt }}</p>
<hr>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}"><<</a>
	{% endif %} 
	<span>{{ paginator.page }} of {{ paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}">>></a>
	{% endif %}
</div>