<hr>
<footer style="text-align: center; margin: 50px">
	<a class="github-button" href="https://github.com/SiG-FSTM" data-size="large" aria-label="Follow @SiG-FSTM on GitHub">Follow @SiG-FSTM</a>
	<a class="github-button" href="https://github.com/SiG-FSTM/sig-fstm.github.io" data-icon="octicon-star" data-size="large" aria-label="Star SiG-FSTM/sig-fstm.github.io on GitHub">Star</a>
	<a class="github-button" href="https://github.com/SiG-FSTM/sig-fstm.github.io/fork" data-size="large" aria-label="Fork SiG-FSTM/sig-fstm.github.io on GitHub">Fork</a>
</footer>