--- 
--- 
@import "{{ site.theme }}";

// Members board section
#members {
	width: 100%;

	.member-badge{
		padding: 5px;
		background: white;
		box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
		border-radius: 3px;
		display: inline-block;
		margin: 10px;
		color: black
	}
}